body{
    margin: 0;
    padding: 0;
    background-color: #282828;
}
.hidden{
    display: none;
}
.finalCredits {
    position:absolute;
     z-index: 4;
 height: 100vh;
width: 1400px;
    background-color: black;
}
h1 {
color: aqua
}
h2 {
color: aqua
}
p {
color: aqua
}
.main-container{
    background-image: url(../img/bg-sprite.jpg);
    height: 100vh;
    width: 1400px;
    background-size: cover;
    overflow: hidden;
    margin: auto;
}
.manhole-top{
    background-image: url(../img/manhole-top.png);
    height: 40px;
    width: 167px;
    background-repeat: no-repeat;
    bottom: 60px;
    position: absolute;
    right: 488px;
    background-size: contain;
    cursor: pointer;
}
.deadpool{
    background-color: blue;
    height: 50px;
    width: 50px;
    bottom: 60px;
    position: absolute;
    right: 488px;
}
.jump-bg{
    background-color: red !important;
}
.shootbg{
    background-color: aliceblue !important;
}
.jump{
    animation: deadpooljump 1s ease-in-out;
}
@keyframes deadpooljump{
    0%{
        bottom: 60px;
    }
    50%{
        bottom: 500px;
        transform: rotate(1000deg);
    }
    100%{
        bottom: 60px;
        transform: translate(5vw);
    }
}

.zoomselfie {
animation: deadpoolselfie 1s forwards;
}
@keyframes deadpoolselfie{
    to{
    transform: scale(4)
    };
}
.zoomselfiedone {
animation: selfiedone 1s;
}
@keyframes selfiedone{
    0%{
    transform: scale(4)
    };
    100%{
    transform: scale(1)
    };
}

.car{
    height: 300px;
    width: 500px;
    background-image: url(../img/cow.png);
    background-size: contain;
    position: absolute;
    left: -33vw;
    bottom: 15vh;
}
.carthrow{
    animation: carthrow 2s linear forwards;
}
@keyframes carthrow{
    0%{
        left: -33vw;
        bottom: 20vh;
    }
    10%{
        left: 10vw;
        bottom: 50vh;
        /*transform: rotate(90deg)*/
    }
    20%{
        left: 20vw;
        bottom: 70vh;
        /*transform: rotate(180deg)*/
    }
    30%{
        left: 30vw;
        bottom: 50vh;
        /*transform: rotate(270deg)*/
    }
    40%{
        left: 40vw;
        bottom: 20vh;
        /*transform: rotate(360deg)*/
    }
    50%{
        left: 50vw;
        bottom: 50vh;
        /*transform: rotate(450deg)*/
    }
    60%{
        left: 60vw;
        bottom: 70vh;
        /*transform: rotate(540deg)*/
    }
    70%{
        left: 70vw;
        bottom: 50vh;
        /*transform: rotate(630deg)*/
    }
    80%{
        left: 80vw;
        bottom: 20vh;
        /*transform: rotate(720deg)*/
    }
    85%{
        left: 90vw;
        bottom: 50vh;
        /*transform: rotate(810deg)*/
    }
    100%{
        left: 100vw;
        bottom: 70vh;
        transform: rotate(1000deg);
    }
}
.wiggle{
    animation: wiggle 1s linear;
}
@keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(10deg);
    }
    30%{
        transform: rotate(-10deg);
    }
    40%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    80%{
        transform: rotate(10deg);
    }
    90%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.movemanhole{
    animation: movemanhole 1s forwards;
}
@keyframes movemanhole{
    to{
        transform: translate(-10vw);
    }
}
.tickle{
    animation: tickle 1s forwards;
}
@keyframes tickle{
    0%{
        transform: rotate(0deg) translate(5vw);
    }
    10%{
        transform: rotate(-10deg) translate(5vw);
    }
    20%{
        transform: rotate(10deg) translate(5vw);
    }
    30%{
        transform: rotate(-10deg) translate(5vw);
    }
    40%{
        transform: rotate(10deg) translate(5vw);
    }
    50%{
        transform: rotate(-10deg) translate(5vw);
    }
    60%{
        transform: rotate(10deg) translate(5vw);
    }
    70%{
        transform: rotate(-10deg) translate(5vw);
    }
    80%{
        transform: rotate(10deg) translate(5vw);
    }
    90%{
        transform: rotate(-10deg) translate(5vw);
    }
    100%{
        transform: rotate(0deg) translate(5vw);
    }
}
.translate5vw{
    transform: translate(5vw);
}
.spidermanpeaks{
    animation: peak 1s;
}
@keyframes peak{
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(45deg);
    }
    80%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.spiderman{
    height: 300px;
    width: 200px;
    background-color: aqua;
    bottom: 8vw;
    position: absolute;
    left: -200px;
}
.spiderman-top{
    height: 300px;
    width: 200px;
    position: absolute;
    top: -300px;
    background-color: aquamarine;
    left: 100px;
}
.slidedown{
    animation: slidedown 1s forwards;
}
@keyframes slidedown{
    to{
        transform: translateY(500px);
    }
}
.smchangebg{
    background-color: bisque !important;
    transform: translateY(670px) !important;
}
.btn-container{
    display: flex;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 5vh;
}
.gunflag{
    overflow: hidden;
    background-color: pink;
    height: 50px;
    width: 50px;
    bottom: 60px;
    position: absolute;
    right: 538px;
}
#flag{
    transform: translate(51px);
    height: 20px;
    width: auto;
}
.flagmove{
    animation: flagmove 1s forwards;
}
@keyframes flagmove{
    to{
        transform: translate(-5px);
    }
}
/*svg{
    max-width: 50vw;
    height: auto;
}
.path-1{
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    fill: none;
    animation: draw 1s infinite;
    fill: #D11818;
    opacity: .7;
}
@keyframes draw{
    to{
        stroke-dashoffset: 0;
    }
}*/

.title-text{
    opacity: .9;
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
.spraycan{
    position: absolute;
    z-index: 4;
    top: 298px;
    left: 942px;
    opacity: .7;
}
.cloud1, .cloud2, .cloud3, .cloud4{
    position: absolute;
}
.cloud1{
    top: 53px;
    left: 670px;
    height: 260px;
    width: auto;
    z-index: 3;
}
.cloud2{
    top: 68px;
    left: 410px;
    height: 240px;
    width: auto;
    z-index: 2;
}
.cloud3{
    top: 214px;
    left: 700px;
    height: 200px;
    width: auto;
    z-index: 3;
}
.cloud4{
    top: 215px;
    left: 461px;
    height: 226px;
    width: auto;
    z-index: 3;
}
.wiggle1{
    animation: wiggle1 3s forwards;
}
@keyframes wiggle1{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
        opacity: .9;
    }
    99%{
        transform: rotate(0deg);
    }
    100%{
        opacity: 0;
        display: none;
    }
}

.wiggle2{
    animation: wiggle2 3s forwards;
}
@keyframes wiggle2{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
        opacity: .9;
    }
    99%{
        transform: rotate(0deg);
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.spray{
    animation: spray 3s forwards;
}
@keyframes spray{
    0%{
        top: 348px;
        left: 942px;
    }
    25%{
        top: 273px;
        left: 442px;
    }
    50%{
        top: 198px;
        left: 942px;
    }
    75%{
        top: 133px;
        left: 442px;
    }
    100%{
        top: 55px;
        left: 942px;
    }
}

.explosion {
width: 100%;
    height:auto;
}
